<!-- header -->
<%- include('../includes/header') -%>
<!-- shop item -->
<section class="shop-item my-3">
    <div class="container">
        <div class="row">
        
             <h1>This is cart page</h1>
                    
            </div>
        </div>
    </div>
</section>
<!-- footer -->
<%- include('../includes/footer') -%>


  